header {
    margin: 0;
}

body {
    background-color: #cd8360;
    font-family: 'Satisfy', cursive, sans-serif;
}

/*-------header----*/

.logo {
    background: url("../images/image1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    width: 100vw;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

span {
    color: #fafafa;
    font-size: 30px;
}

